body {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.main {
    position: relative;
    margin: 0;
    padding: 0;
}

#canvas {
    position: relative;
    z-index: 100;
}

.pic {
    position: absolute;
    align-items: center;
    top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation-name: a;
    animation-duration: 10s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

.content {
    position: absolute;
    
    animation-name: b;
    animation-duration: 20s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    align-items: center;
    top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@keyframes a {
    0% {
        width: 0%;
        height: 0%;
        opacity: 0;
    }
    50% {
        width: 0%;
        height: 0%;
        opacity: 0;
    }
    100% {
        width: 60%;
        height: 70%;
        opacity: 1;
    }
}

@keyframes b {
    0% {
        width: 0%;
        height: 0%;
        opacity: 0;
    }
    55% {
        width: 0%;
        height: 0%;
        opacity: 0;
    }
    100% {
        width: 60%;
        height: 70%;
        opacity: 1;
    }
}